.categories-section-title {
  color: var(--primary-dark);
}

.category-wrapper {
  cursor: pointer;
}

.home-category-card {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: white;
  transition: all 0.3s ease;
  padding: 10px;
  overflow: hidden;
  border: 3px solid transparent;
}

.category-wrapper:hover .home-category-card,
.category-wrapper.active .home-category-card {
  border-color: var(--primary-orange);
}

.category-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-title {
  color: var(--text-dark);
}

.category-wrapper.active .category-title {
  color: var(--primary-orange);
}

@media (min-width: 768px) {
  .home-category-card {
    width: 90px;
    height: 90px;
  }
}
