.offer-card {
  color: white;
  border-radius: var(--radius-xl);
  max-width: 550px;
  margin: 0 auto;
}

.offer-card.primary {
  background-color: var(--primary-dark);
}

.offer-card.secondary {
  background-color: var(--primary-orange);
}

.offer-title {
  font-size: 28px;
}

.offer-code-badge {
  border: 2px dashed var(--primary-light);
}

.offer-code-badge.secondary {
  border-color: var(--primary-dark);
}

.offer-btn {
  width: auto;
}

.offer-img-wrapper {
  height: 140px;
}

.offer-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-lg);
}

